<div id='<%= current_page.data.rich_media_container_id %>' style="position: <%= current_page.data.position %>; width: <%= current_page.data.initial_width %>px; height: <%= current_page.data.initial_height %>px; overflow: hidden">
  <div id="<%= current_page.data.rich_media_container_id %>_wrapper">
    <iframe width="100%" height="100%" src='<%= current_page.data.full_richmedia_url %>' allowtransparency='true' seamless scrolling='no' style='z-index:10000; background:none;position: <%= current_page.data.position %>; overflow: hidden !important;border: none !important;background-color: none !important;'></iframe>
    <iframe width="100%" height="100%" allowtransparency='true' seamless scrolling='no' style='display:none; z-index:10000; background:none;position: fixed; overflow: hidden !important;border: none !important;background-color: none !important;'></iframe>
  </div>
</div>
